<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Blossom Flower Shop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="login-page">

<div class="login-container">

    <h1>🌸 Blossom Flower Shop</h1>
    <p class="welcome-text">Welcome Back!</p>

    <h2>Login</h2>

    <form id="loginForm">

        <input
            type="email"
            id="email"
            placeholder="Enter Email"
            required
        >

        <input
            type="password"
            id="password"
            placeholder="Enter Password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p class="account-text">
        Don't have an account?
        <a href="register.html">Register Here</a>
    </p>

</div>

<script src="login.js"></script>

</body>
</html>
